

@{
	ViewData["Title"] = "Artical";
}
@model DanGame.Models.ArticlePageViewModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://kit.fontawesome.com/b5dde33e16.js" crossorigin="anonymous"></script>
<script src="~/js/jquery-dateformat.min.js"></script>
<link rel="stylesheet" href="~/css/artical.css" asp-append-version="true" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<style>
	img {
		max-width: 100%;
		max-height: 500px;
		object-fit: cover;
	}

	a {
		text-decoration: none;
	}

	. {
		box-sizing: border-box;
	}
</style>

<body>
	<div class="d-flex  m-auto container mt-5 pt-5 mb-4">
		<div class="shadow border border-1 rounded w-100 m-auto mt-4 me-3">
			<div class="m-4 ">
				<h3>@Model.Article.ArticalTitle</h3>
				<div> <span class="bg-primary bg-opacity-50 m-2 p-1 rounded text-white">@Model.Article.ArticleCategory</span></div>
				<hr>
				<!-- user -->
				<div class="d-flex mb-3">
					<div>
						<a asp-action="ForumUser" asp-controller="Forum" asp-route-id="@Model.User.UserId">
							<img class="rounded-circle" style="width:50px;height:50px;object-fit:cover;"
								 src="@Model.UserProfile.ProfilePictureUrl">
							</img>
						</a>
					</div>
					<div class="ms-2">
						<span class="text-primary "><a asp-action="ForumUser" asp-controller="Forum" asp-route-id="@Model.User.UserId">@Model.User.UserName</a> </span>
						<p class="text-secondary " style="font-size: x-small;">@Model.Article.ArticalCreateDate</p>
					</div>
				</div>

				<div>
					@Html.Raw(Model.Article.ArticalContent)
				</div>
				<!-- 按讚 -->
				<div class="mb-2">
					<button class="btn "><i class="bi bi-chat-dots h4"></i></button><span>@(@Model.Comments.Count + @Model.Replies.Count)</span>
					<button id="btnArticalLike" class="btn "><i class="bi bi-hand-thumbs-up h4 "></i></button><span id="likeNumber">@Model.Likes.Count</span>
				</div>
				<!-- 留言 -->

				<div class="mb-4">
					<form asp-action="AddComment" asp-controller="Forum" method="post">
						<div class="input-group mb-4">
							<i class="bi bi-chat-left-text input-group-text"></i>
							<input type="hidden" name="articalId" value="@Model.Article.ArticalId" />
							<input id="input-box" type="text" name="comment" class="form-control" placeholder="快來發表你的評論吧">
							<div class="input-group-append">
								<button id="emoji-button" class="btn btn-outline-secondary" type="button"><i class="bi bi-emoji-smile  "></i></button>
								<button type="submit" class="btn btn-outline-secondary">發送</button>
							</div>
						</div>
						<div id="emoji-picker">
							<span class="emoji">😊</span>
							<span class="emoji">😂</span>
							<span class="emoji">😍</span>
							<span class="emoji">😢</span>
							<span class="emoji">😎</span>
							<span class="emoji">🤔</span>
						</div>

					</form>
				</div>

				<!-- 評論區 -->
				@foreach (var comment in Model.Comments)
				{
					<div class="d-flex mb-2">
						<div>
							<a asp-action="ForumUser" asp-controller="Forum" asp-route-id="@comment.User.UserId">
								<img class="rounded-circle" style="width: 40px;height:40px;object-fit:cover;"
									 src="@comment.User.UserProfile.ProfilePictureUrl">
								</img>
							</a>
						</div>
						<!--  -->
						<div class="userComment ms-2">
							<span class="text-primary"><a asp-action="ForumUser" asp-controller="Forum" asp-route-id="@comment.User.UserId">@comment.User.UserName</a></span>
							<span>@comment.CommentContent</span>
							<div class="text-secondary" style="font-size: x-small;">
								<span class="ms-1 CommentCreateDate" timestramp="@(((DateTimeOffset)comment.CommentCreateDate).ToUnixTimeSeconds()*1000)"></span>
								<span class="ms-3"><button class="reply-button btn btn-light" style="font-size:x-small" data-comment-id="@comment.CommentId">回覆</button></span>

								<div class="btn-group btn-group-sm ">
									<button class="btn "><i class="bi bi-heart" style="font-size: x-small;"></i><span class=" ms-1" style="font-size: x-small;">@comment.ArticalCommentLikes.Count</span></button>
								</div>

							</div>
							@foreach (var reply in comment.ArticalCommentReplies)
							{
								<div class="d-flex mb-2">
									<div>
										<a asp-action="ForumUser" asp-controller="Forum" asp-route-id="@comment.User.UserId">
											<img class="rounded-circle" style="width: 40px;height:40px;object-fit:cover;"
												 src="@reply.User.UserProfile.ProfilePictureUrl">
											</img>
										</a>
									</div>
									<div class="ms-2">
										<span class="text-primary">@reply.User.UserName</span>
										<span>@reply.ReplyContent</span>
										<div class="text-secondary" style="font-size: x-small;">
											<span class="ms-1 CreatedAt" timestramp="@(((DateTimeOffset)reply.CreatedAt).ToUnixTimeSeconds()*1000)"></span>
											<span class="ms-3"><button class="reply-button btn btn-light" style="font-size:x-small" data-comment-id="@comment.CommentId" data-reply-id="@reply.ReplyId" data-username="@reply.User.UserName">回覆</button></span>
											<div class="btn-group btn-group-sm">
												<button class="btn "><i class="bi bi-heart" style="font-size: x-small;"></i></button>

											</div>
										</div>
										<div class="input-group mb-4 reply-form" id="reply-form-reply-@reply.ReplyId" style="display: none;">
											<form asp-action="AddReply" method="post">
												<input type="hidden" name="CommentId" value="@comment.CommentId" />
												<input type="hidden" name="ReplyToUserId" value="@reply.User.UserId" class="reply-to-user-id" />
												<input type="text" class="form-control reply-content" name="comment" placeholder="快來發表你的評論吧">
												<div class="input-group-append">
													<button class="btn btn-outline-secondary emoji-button" type="button"><i class="bi bi-emoji-smile  "></i></button>
													<button type="submit" class="btn btn-outline-secondary">發送</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							}
							<form asp-action="AddReply" asp-controller="Forum" method="post" class="comment-form">
								<div class="input-group mb-4 reply-form" id="reply-form-@comment.CommentId" style="display:none;">
									<input type="hidden" name="CommentId" value="@comment.CommentId" />
									<input type="text" class="form-control" name="comment" placeholder="快來發表你的評論吧">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary emoji-button" type="button"><i class="bi bi-emoji-smile  "></i></button>
										<button type="submit" class="btn btn-outline-secondary">發送</button>
									</div>
								</div>
								<div class="emoji-picker" style="display:none;">
									<span class="emoji">😊</span>
									<span class="emoji">😂</span>
									<span class="emoji">😍</span>
									<span class="emoji">😢</span>
									<span class="emoji">😎</span>
									<span class="emoji">🤔</span>
								</div>
							</form>


						</div>
					</div>
				}



				<!-- 評論區 -->


			</div>


		</div>
		<!-- 右側 -->
		<div class="m-1 p-1">
			<div class="p-3 rounded">
				<div class="input-group">
					<input type="search" class="w-75 form-control" placeholder="搜尋文章">
					<button class="btn btn-outline-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>

			</div>
			<div class="mt-1  p-3 rounded ">
				<div class="list-group">
					<a href="/Forum/Post" class="btn btn-outline-secondary">快來發文吧!</a>
				</div>

			</div>
			<div class="mt-1  p-3 rounded ">
				<div class="list-group">
					<a href="/Forum/ForumUser" class="btn btn-outline-secondary">個人主頁</a>
				</div>

			</div>

		</div>
	</div>
</body>
<script src="~/js/artical.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
<script>
	$(document).ready(function () {
		$("oembed").each(function () {
			var url = $(this).attr("url");
			if (url.includes("youtube.com")) {
				var videoId = url.split("v=")[1];
				var embedUrl = "https://www.youtube.com/embed/" + videoId;
				$(this).replaceWith('<iframe width="560" height="315" src="' + embedUrl + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
			}
		});

		$('.reply-button').on('click', function () {
			var commentId = $(this).data('comment-id');
			var replyId = $(this).data('reply-id');
			var username = $(this).data('username');
			$('.reply-form').hide(); // 隐藏所有回复表单
	@* $('#reply-form-' + commentId).show(); // 显示当前评论的回复表单 *@
			if (replyId) {
				// 显示当前回复的回复表单
				$('#reply-form-reply-' + replyId).show();
				$('#reply-form-reply-' + replyId + ' .reply-to-user-id').val($(this).data('user-id'));
				$('#reply-form-reply-' + replyId + ' .reply-content').val("#" + username + '# ');
			} else {
				// 显示当前评论的回复表单
				$('#reply-form-' + commentId).show();
				$('#reply-form-' + commentId + ' .reply-to-user-id').val($(this).data('user-id'));
	@* $('#reply-form-' + commentId + ' .reply-content').val('@' + username + ' '); *@
				}
		});

		var num = 0;
		$('#btnArticalLike').on('click', function () {

			num++;

			$('#likeNumber').html(num);

		})
		$(".CommentCreateDate").each(function () {
			let time = new Date(Number($(this).attr("timestramp")));
			$(this).html(DateFormat.format.prettyDate(time));
		})
		$(".CreatedAt").each(function () {
			let time = new Date(Number($(this).attr("timestramp")));
			$(this).html(DateFormat.format.prettyDate(time));
		})
	});

</script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const emojiButton = document.getElementById('emoji-button');
		const emojiPicker = document.getElementById('emoji-picker');
		const inputBox = document.getElementById('input-box');

		emojiButton.addEventListener('click', () => {
			emojiPicker.style.display = emojiPicker.style.display === 'block' ? 'none' : 'block';
		});

		emojiPicker.addEventListener('click', (event) => {
			if (event.target.classList.contains('emoji')) {
				inputBox.value += event.target.textContent;
				emojiPicker.style.display = 'none';
			}
		});

		document.addEventListener('click', (event) => {
			if (!emojiPicker.contains(event.target) && !emojiButton.contains(event.target)) {
				emojiPicker.style.display = 'none';
			}
		});
	});
	document.addEventListener('DOMContentLoaded', () => {
		document.querySelectorAll('.comment-form').forEach(form => {
			const emojiButton = form.querySelector('.emoji-button');
			const emojiPicker = form.querySelector('.emoji-picker');
			const inputBox = form.querySelector('.input-box');

			emojiButton.addEventListener('click', () => {
				emojiPicker.style.display = emojiPicker.style.display === 'block' ? 'none' : 'block';
			});

			emojiPicker.addEventListener('click', (event) => {
				if (event.target.classList.contains('emoji')) {
					inputBox.value += event.target.textContent;
					emojiPicker.style.display = 'none';
				}
			});

			document.addEventListener('click', (event) => {
				if (!emojiPicker.contains(event.target) && !emojiButton.contains(event.target)) {
					emojiPicker.style.display = 'none';
				}
			});
		});
	});
</script>